{% extends "base.html" %}
{% block title %}{{ article.title|striptags }} &middot; {{ SITENAME }}{% endblock %}
{% block content %}
<div class="content pure-u-1 pure-u-md-4-5">
    <div class="posts">
        <section class="post">
            {% include 'article_info.html' %}
            <div class="post-description">
            {{ article.content }}
            {% if article.via %}
            {% set via = article.via.split('|') %}
            <p>&rarr; <a href="{{ via[1] }}">{{ via[0] }}</a></p>
            {% endif %}
            {% if article.thank %}
            {% set thank = article.thank.split('|') %}
            {% if thank[1] %}
            <p>{ Thanks <a href="{{ thank[1] }}">{{ thank[0] }}</a>. }</p>
            {% else %}
            <p>{ Thanks {{ thank[0] }}. }</p>
            {% endif %}
            {% endif %}
            {% include 'article_meta.html' %}
            <p class="post-meta">&hearts; <a href="http://resume.linuxtoy.org" title="本广告长期有效，欢迎联系~">寻一份 GNU/Linux 远程工作，欢迎联系 :)</a></p>
            </div>
        </section>
        <h4>Read More:</h4>
        {% include 'gad.html' %}
        {% if article.related_posts %}
        <div class="pure-menu">
            <ul class="pure-menu-list">
            {% for related_post in article.related_posts %}
                <li class="pure-menu-item">
                    <a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    {% include 'disqus.html' %}
    <div class="footer">
                {% if article.prev_article %}
                <p class="nav-left">
                    <a href="{{ SITEURL }}/{{ article.prev_article.url}}">
                        &laquo; {{ article.prev_article.title }}
                    </a>
                </p>
                {% endif %}
                {% if article.next_article %}
                <p class="nav-right">
                    <a href="{{ SITEURL }}/{{ article.next_article.url}}">
                        {{ article.next_article.title }} &raquo;
                    </a>
                </p>
                {% endif %}
    </div>
</div>
{% endblock %}
