    <p class="post-meta">
        {% if article.tags %} 
        Tagged as 
        {% for tag in article.tags %}
        {% if not loop.last %}
        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag|escape|lower }}</a>,  
        {% else %}
        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag|escape|lower }}</a> 
        {% endif %}
        {% endfor %} 
        &middot; 
        {% endif %}
        {% if GITHUB_SOURCE %}
        Edit on <a href="{{ GITHUB_SOURCE }}/{{ article.slug }}.md">GitHub</a>
        {% endif %}
    </p>
