{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
<div class="content pure-u-1 pure-u-md-11-12">
    <div class="posts">
        <section class="post">
            {% include 'article_info.html' %}
            <div class="post-description">
            {{ article.content }}
            </div>
        </section>
        {% if article.related_posts %}
    </div>
    <h3>Read More:</h3>
    <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-ment-list">
        {% for related_post in article.related_posts %}
            <li class="pure-menu-item">
                <a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% include 'disqus.html' %}
    <div class="footer">
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-ment-list">
                {% if article.prev_article %}
                <li class="pure-menu-item">
                    <a href="{{ SITEURL }}/{{ article.prev_article.url}}">
                        &laquo; {{ article.prev_article.title }}
                    </a>
                </li>
                {% endif %}
                {% if article.next_article %}
                <li class="pure-menu-item">
                    <a href="{{ SITEURL }}/{{ article.next_article.url}}">
                        {{ article.next_article.title }} &raquo;
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
