{% extends "base.html" %}
{% block title %}{{ SITENAME }} - All Categories{% endblock %}
{% block content %}
<div class="content pure-u-1 pure-u-md-4-5">
    <div class="posts">
        <h2 class="post-title">All Categories</h2>
        <div class="pure-menu">
            <ul class="pure-menu-list">
                {% for category, articles in categories|sort %}
                <li class="pure-menu-item">
                    <a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|count }})
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
