{% extends "base.html" %}
{% block title %}{{ SITENAME }} - Archives{% endblock %}
{% block content %}
<div class="content pure-u-1 pure-u-md-3-5">
    <div class="posts">
        <h2 class="post-title">Archives for {{ period|reverse|join(' ') }} ({{ dates|count }})</h2>
        <div class="pure-menu">
            <ul class="pure-menu-list">
                {% for article in dates %}
                <li class="pure-menu-item">
                    <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a> ({{ article.locale_date }})
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
